API_PORT=9999
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

PYTHONDONTWRITEBYTECODE=1

# local Database URL
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

# Vercel Postgres (Neon) - production環境で使用
POSTGRES_URL=
